<header>
  <nav
    class="navbar navbar-expand-md navbar-dark bg-success d-inline-flex container-fluid"
  >
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav col-md-6">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>

      <div class="w-100 d-flex text-right justify-content-end">
        <% if (user === undefined) {%>
        <div class="text-right d-flex col-md-6 float-right">
          <form
            method="GET"
            action="/register"
            class="form-inline text-right mx-2"
          >
            <button type="submit" class="btn btn-outline-dark" action>
              Register
            </button>
          </form>
          <form
            method="GET"
            action="/login"
            class="form-inline text-right mx-2"
          >
            <button type="submit" class="btn btn-outline-dark" action>
              Login
            </button>
          </form>
        </div>

        <%} else {%>

        <form class="form-inline" method="POST" action="/logout">
          <div class="form-group">
            <label for="logout" class="sr-only">Email</label>
            <input
              type="text"
              class="form-control-plaintext"
              id="logout"
              value="Welcome <%= user.email %>"
            />
          </div>
          <button type="submit" class="btn btn-outline-secondary">
            Logout
          </button>
        </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>
